.menu-3 span:hover {
  font-size: NaNem;
}

body {
  background-color: rgb(255, 255, 255);
  font: 400 0.625em/1.38 'Proxima Nova Rg';
  color: rgb(204, 204, 204);
}

.about {
  margin: 11px 0 0 18.19922%;
  font-family: ProximaNova-Bold;
  font-size: 2.3em;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
}

.action {
  margin: 11px 0 0 1.58073%;
  font-family: ProximaNova-Bold;
  font-size: 2.3em;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
}

.background {
  float: left;
  clear: both;
  width: 100%;
  height: 838px;
  background: url('../images/Purple-Butterfly-Desktop-Wallpaper.jpg') rgba(255, 255, 255, 0.34);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.byline {
  float: left;
  clear: both;
  width: 42.25%;
  margin: 12px 0 0 1.625%;
  font-family: Helvetica;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.contact {
  float: left;
  width: 80%;
  height: 639px;
  margin: 89px 0 0 10%;
  background-color: rgb(255, 255, 255);
}

.disclaimer {
  float: left;
  clear: both;
  width: 48.4166666666%;
  height: 72px;
  margin: 32px 0 0 1.58073%;
  background-color: rgba(130, 172, 214, 0.26);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  font-size: 1em;
  letter-spacing: 1px;
  text-indent: 3px;
  color: rgb(204, 204, 204);
}

.disclaimer p {
  margin-bottom: 0.7em;
}

.dontwait {
  float: left;
  clear: both;
  width: 57.6041666666%;
  margin: 25px 0 0 21.66016%;
  font-family: Helvetica;
  font-size: 4.4em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.footer {
  float: left;
  clear: both;
  width: 125%;
  height: 328px;
  margin: 191px 0 0 -12.5%;
  background-color: rgb(130, 172, 214);
}

.getintouch {
  float: left;
  width: 59.4986979166%;
  margin: 60px 0 0 20.4362%;
  font-family: Helvetica;
  font-size: 1.6em;
  color: rgb(0, 0, 0);
}

.image {
  display: block;
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
}

.menu {
  float: left;
}

.press {
  margin: 11px 0 0 2.16146%;
  font-family: ProximaNova-Bold;
  font-size: 2.3em;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
}

.purpose {
  float: left;
  width: 37.1666666666%;
  height: 98px;
  margin: 26px 0 0 13.08724%;
  background-color: rgba(130, 172, 214, 0.26);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, .5);
  font-size: 1.6em;
  letter-spacing: 1px;
  text-indent: 3px;
  color: rgb(204, 204, 204);
}

.resources {
  margin: 11px 0 0 1.5%;
  font-family: ProximaNova-Bold;
  font-size: 2.5em;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
}

.watch {
  margin: 11px 0 0 1.91797%;
  font-family: ProximaNova-Bold;
  font-size: 2.6em;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  clear: both;
  height: 85px;
  padding: 7px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-family: ProximaNova-Regular;
  font-size: 2.6em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.image-1 {
  z-index: 10;
  width: 102px;
  margin: 20px 0 0 2.08073%;
}

.image-2 {
  z-index: 9;
  width: 160px;
  margin: 20px 0 0 2.66146%;
}

.image-3 {
  z-index: 6;
  width: 50px;
  margin: 75px 0 0 4.32422%;
}

.image-4 {
  z-index: 7;
  width: 50px;
  margin: 75px 0 0 1.66797%;
}

.image-5 {
  z-index: 8;
  width: 56px;
  margin: 75px 0 0 1.08464%;
}

.menu-1 {
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.contact ._button-1 {
  margin: 80px 0 0 37.7880899999%;
}

.contact ._button-2 {
  margin: 53px 0 0 40.70801%;
}

.byline span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: 'Bohemian Typewriter';
  font-style: normal;
  font-size: inherit;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.dontwait span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-style: normal;
  font-size: 1.136em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.getintouch span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: 'Bohemian Typewriter';
  font-style: normal;
  font-size: 4.625em;
  font-weight: Regular;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.menu span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.menu-4 span {
  border-style: none;
  font-size: inherit;
}

.menu-6 span {
  font-size: inherit;
}

.menu-3 span,
.menu-5 span,
.menu-7 span {
  font-size: 1.13em;
}

@media(max-width: 600px) {
  .background {
    height: 927px;
  }

  .background .contact {
    height: 739px;
    margin-top: 88px;
  }

  .contact .footer {
    height: 393px;
    margin-top: 75px;
  }

  .footer .byline {
    position: relative;
    z-index: 11;
    margin-top: -117px;
    margin-left: 2.08073%;
  }

  .footer .disclaimer {
    position: relative;
    clear: none;
    z-index: 5;
    width: 48.5%;
    height: 130px;
    margin-top: -51px;
    margin-left: 2.08073%;
  }

  .footer .image {
    position: relative;
    height: auto;
  }

  .footer .purpose {
    position: relative;
    clear: both;
    z-index: 4;
    height: 161px;
    margin-top: -33px;
    margin-left: 59.66667%;
  }

  .menu .about {
    z-index: 19;
    margin-top: 8px;
    margin-left: 25.36198%;
  }

  .menu .action {
    z-index: 15;
    margin-top: 10px;
  }

  .menu .menu {
    position: relative;
  }

  .menu .press {
    z-index: 17;
    margin-top: 8px;
  }

  .menu .resources {
    clear: both;
    z-index: 16;
    margin-top: 10px;
    margin-left: 14%;
  }

  .menu .watch {
    z-index: 18;
    margin-top: 8px;
    margin-left: 1.91667%;
  }

  .contact ._button {
    height: 64px;
  }

  .footer .image-1 {
    z-index: 10;
  }

  .footer .image-2 {
    z-index: 9;
    margin-top: 25px;
    margin-left: 0.83073%;
  }

  .footer .image-3 {
    z-index: 6;
    margin-left: 4.75521%;
  }

  .footer .image-4 {
    z-index: 7;
    margin-left: 0.88021%;
  }

  .footer .image-5 {
    z-index: 8;
    margin-left: 0.33073%;
  }

  .contact ._button-1 {
    margin-top: 65px;
    margin-left: 27.08008%;
  }

  .contact ._button-2 {
    margin-top: 44px;
    margin-left: 32.99805%;
  }

  .menu-3 span {
    font-size: 1.13em;
  }
}